<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>

        {% if message %}
            {% if correct_guess %}
            <div class="message correct">
                {{message}}
                <form method="POST">
                    <button type="submit" name="play_again" class="btn btn-play-again">Play again!</button>
                </form>
            </div>
            {% else %}
            <div class="message">{{message}}</div>
            {% endif %}
        {% endif %}

        <form method="POST">
            <input type="number" id="guess" name="guess" class="input"><br>
            <input type="submit" value="Submit" class="btn">
        </form>
    </div>
</body>
</html>
